@media (min-width: 768px) {
  .Solution {
    flex-direction: row-reverse;
  }

  .Solution-content {
    padding: 20px 2% 20px 5%;
  }

  .solution-green {
    margin: 20px 0;
  }

  .solution-text {
    margin-bottom: 50px;
  }

  .solution-buttons {
    flex-direction: row;
    gap: 30px;
    margin-bottom: 50px;
  }

  .button-Quate {
    width: 40%;
    margin: 0;
  }

  .how-it-works {
    margin: 0;

    p {
      color: #676767;
    }
  }

  .arrow-right {
    background-image: url("./icons/arrow-icon-right-grey.svg");
  }

  .solution-stats {
    gap: 10px;
    align-self: start;
  }

  .solution-stats-style {
    border-radius: 0;
    background: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    padding: 0;
    width: auto;

    span {
      border-radius: 32px;
      background: linear-gradient(73deg, #00730c77 0%, #f9f9f9 100%);
      padding: 15px 7px;
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      font-weight: 700;
    }
  }

  .team-members {
    display: none;
  }

  // ----------------------------
  // -------Services-Provide-----

  .provide-cards-block {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .provide-card {
    width: 48%;
  }

  //---------------------------------
  //----------Years-Experience-------
  .Years-Experience {
    flex-direction: row;
  }

  .yExperience-content {
    justify-content: center;
  }

  .yExperience-text-block {
    h3 {
      text-align: left;
    }
  }

  .yExperience-green {
    background: linear-gradient(90deg, #2aff310a 0%, #bee4c3 100%);
    flex-direction: column;
    justify-content: center;

    .picture3 {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  //--------------------------------
  //--------Working-Process----------

  .WP-card {
    width: 48%;
  }

  // --------------------------------
  //--------Reliable-Gardening-------

  .reliable-gardening-content {
    background-image: url("./picture/hand-holding-small-tree-planting.png");
    height: 250px;
    border-radius: 10px;
    flex-direction: row;
    justify-content: flex-end;
    padding: 30px;
  }

  .RG-content-blocks {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .RG-button {
    padding: 10px 0;
    width: 38%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: none;
    border-radius: 5px;

    p {
      font-family: Nunito;
      font-size: 14px;
      font-weight: 700;
      color: #00730c;
    }
  }

  .RG-button-icon {
    background-image: url(./icons/phone-green.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 10px;
    width: 20px;
    height: 20px;
  }

  //--------------------------------
  //-------Our-Trained-Staff--------

  .OTS-content-description {
    button {
      width: 35%;
    }
  }

  .OTS-cards-block {
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }

  .OTS-display1 {
    display: flex;
  }

  //-------------------------
  //------Clients-Saying-----

  .CS-comment-card {
    box-shadow: 2px 11px 10px 0px rgba(51, 51, 51, 0.08);
    padding: 20px;
  }

  // ----Slick-slider----

  .CS-comments-block .slick-list {
    overflow: hidden;
    padding-bottom: 20px;
  }

  // -------------------------------------------
}
