$color-green-text: #00730c;
$background-green-text: #00730c;

@mixin iconSizeM {
  width: 20px;
  height: 20px;
  display: block;
  margin-right: 20px;
  background-size: contain;
}

@mixin iconSizePC {
  width: 25px;
  height: 25px;
  display: block;
  margin-right: 10px;
}

@mixin button-standartM {
  background-color: $background-green-text;
  color: white;
  border-radius: 10px;
  border: none;
}

@mixin button-standartPC {
  background-color: $background-green-text;
  color: white;
  border-radius: 5px;
  border: none;
}

@mixin textStandartPC {
  font-size: 18px;
  line-height: 30px;
  color: #676767;
}

@mixin textStandartMobile {
  font-size: 14px;
  line-height: 22px;
  color: #676767;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

//------------------
// <1410px - mobile
//------------------

// -----------TopNavbar-------------
.TopNavbar {
  margin: 0;
  width: auto;
  background-color: #0c4b35;
  padding: 20px;
}

.TNavbar-content {
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: auto;

  p {
    color: white;
    font-size: 12px;
  }
}

.TNavbar-rightside {
  display: flex;
  align-items: center;
}

.down-arrow-white {
  background-image: url("./icons/down-arrow-white.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 7px;
  height: 3.818px;
  margin-left: 5px;
}

.TNavbar-leftside {
  display: flex;

  div {
    display: flex;
  }

  p {
    display: none;
  }
}

.email {
  background-image: url("./icons/email-1.svg");
  @include iconSizeM();
}

.phone-call {
  background-image: url("./icons/phone-call-1.svg");
  @include iconSizeM();
}

.location {
  background-image: url("./icons/location-1.svg");
  @include iconSizeM();
}
// -----------------------------------
// -------------Navbar----------------

.Navbar {
  margin: 0;
  width: auto;
  padding: 15px;
}

.Navbar-content {
  display: flex;
  justify-content: space-between;
  height: 40px;
}

.Nb-content-text {
  display: none;
}

.Nb-buttons {
  display: flex;
  align-items: center;
}

.call-us {
  display: flex;

  @include button-standartM;

  border: 10px solid #00730c;
  margin-right: 40px;

  p {
    display: none;
  }
}

.phone-icon {
  background-image: url("./icons/phone.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
}

.menuM {
  background-image: url("./icons/menu-1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}
// ----------PL-Solution-------------
.PL-Solution {
  width: 100%;
  margin: 0;
}

.SolutionMob {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to top right, #00730c6a, #fbf6ee);
}

.picture1Mob {
  width: 100%;
  height: auto;

  img {
    width: 100%;
    height: auto;
  }
}

.SolutionMob-content {
  padding: 45px 0 35px 0;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.landscape {
  display: flex;

  p {
    font-size: 14px;
    font-weight: 700;
  }
}

.logo-vector {
  background-image: url("./icons/Vector.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 23.799px;
  height: 19.895px;
  margin-right: 5px;
}

.solution-green {
  margin: 10px 0 15px 0;

  span {
    color: #00730c;
  }
}

.solution-text {
  @include textStandartMobile;
  color: #212529;
  margin-bottom: 40px;
}

.button-Quate {
  @include button-standartM;
  font-size: 16px;
  font-family: Nunito;
  font-weight: 700;
  line-height: 20px;
  padding: 12px 105px;
  width: 90%;
  align-self: center;
  margin-bottom: 20px;
}

.how-it-works {
  display: flex;
  align-self: center;
  align-items: center;
  margin-bottom: 40px;

  p {
    font-size: 14px;
    font-weight: 600;
    color: #00730c;
  }
}

.arrow-right {
  background-image: url("./icons/arrow-icon-right-green.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 16px;
  height: 12.649px;
  margin-left: 10px;
}

.solution-stats {
  display: flex;
  align-self: end;
  justify-content: space-around;
  width: 85%;
}

.solution-stats-style {
  font-size: 10px;
  display: flex;
  padding: 8px 10px;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  background: linear-gradient(180deg, #fff8f1 0%, #cbe5ce 100%);
  width: 100%;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }

  span {
    font-size: 12px;
    font-weight: 700;
    margin-right: 8px;
  }
}

.SolutionPC {
  display: none;
}

//------------------
// >768
//------------------
@media (min-width: 768px) {
  // ----------PL-Solution-PC-------------

  .SolutionMob {
    display: none;
  }

  .SolutionPC-space {
    width: 19%;
  }

  .SolutionPC {
    display: flex;
    align-items: center;
    background-image: linear-gradient(to top right, #00730c6a, #fbf6ee);
    height: 720px;
  }

  .SolutionPC-content {
    margin: 0;
    width: 55%;
    margin-right: 2%;
  }

  .landscapePC {
    display: flex;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
  }

  .perfect-solutionPC {
    margin: 20px 0;
    font-size: 58px;
    font-weight: 800;

    span {
      color: #00730c;
    }
  }

  .solution-textPC {
    @include textStandartPC;
    margin-bottom: 50px;
  }

  .solution-buttonsPC {
    display: flex;
    margin-bottom: 50px;
  }

  .QuatePC {
    margin-right: 30px;
    @include button-standartPC;
    padding: 13px 35px;
    font-family: Nunito;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
  }

  .how-it-worksPC {
    display: flex;
    align-items: center;

    p {
      font-size: 18px;
      font-weight: 600;
      line-height: 30px;
      color: #676767;
    }
  }

  .arrow-right-grey {
    background-image: url("./icons/arrow-icon-right-grey.svg");
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 15px;
    width: 20px;
    height: 15.811px;
  }

  .solution-statsPC {
    display: flex;
  }

  .solution-stats-stylePC {
    display: flex;
    align-items: center;

    div {
      margin-right: 10px;
      display: flex;
      padding: 15px 7px;
      border-radius: 35px;
      background: linear-gradient(73deg, #00730c89 0%, #f9f9f9 100%);
    }

    p {
      color: #212529;
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
      margin-right: 20px;
    }

    .lastchild-margin-right {
      margin-right: 0;
    }
  }

  .SolutionPC-picture {
    height: 720px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;

    img {
      height: auto;
      width: 100%;
    }
  }
  // -------------------------------------------
}

//------------------
// >1410 - desktop
//------------------
@media (min-width: 1410px) {
  .TopNavbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17.5px 0;
  }

  .TNavbar-content {
    width: 80%;

    p {
      color: white;
      font-size: 14px;
    }
  }

  .TNavbar-leftside {
    div {
      align-items: center;
    }
    p {
      display: block;
      margin-right: 30px;
    }
  }

  .email {
    @include iconSizePC();
  }

  .phone-call {
    @include iconSizePC();
  }

  .location {
    @include iconSizePC();
  }

  // -----------------------------------
  // -------------Navbar-PC----------------

  .Navbar {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .Navbar-content {
    width: 80%;
    height: 55px;
    align-items: center;
  }

  .Navbar-LOGO {
    img {
      width: 120px;
      height: 55px;
      display: block;
    }
  }

  .Navbar-content-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
  }

  .Nb-content-text {
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    width: 100%;
    margin-right: 10%;

    div {
      display: flex;
      align-items: center;
    }
  }

  .down-arrow-black {
    background-image: url("./icons/arrow-icon-black.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 12px;
    height: 6.84px;
    margin-left: 5px;
  }

  .call-us {
    font-family: Nunito;
    display: flex;
    justify-content: center;
    align-items: center;
    @include button-standartPC;
    width: 171px;
    margin: 0;
    padding: 10px 35px;

    p {
      display: block;
      font-size: 18px;
      font-weight: 700;
      line-height: 24px;
      margin-left: 10px;
    }
  }

  .phone-icon {
    width: 30px;
    height: 30px;
  }

  .menuM {
    display: none;
    position: absolute;
  }

  // -------------------------------------------
}
