* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.TopNavbar {
  margin: 0;
  width: auto;
  background-color: #0c4b35;
  padding: 20px;
}

.TNavbar-content {
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: auto;
}
.TNavbar-content p {
  color: white;
  font-size: 12px;
}

.TNavbar-rightside {
  display: flex;
  align-items: center;
}

.down-arrow-white {
  background-image: url("./icons/down-arrow-white.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 7px;
  height: 3.818px;
  margin-left: 5px;
}

.TNavbar-leftside {
  display: flex;
}
.TNavbar-leftside div {
  display: flex;
}
.TNavbar-leftside p {
  display: none;
}

.email {
  background-image: url("./icons/email-1.svg");
  width: 20px;
  height: 20px;
  display: block;
  margin-right: 20px;
  background-size: contain;
}

.phone-call {
  background-image: url("./icons/phone-call-1.svg");
  width: 20px;
  height: 20px;
  display: block;
  margin-right: 20px;
  background-size: contain;
}

.location {
  background-image: url("./icons/location-1.svg");
  width: 20px;
  height: 20px;
  display: block;
  margin-right: 20px;
  background-size: contain;
}

.Navbar {
  margin: 0;
  width: auto;
  padding: 15px;
}

.Navbar-content {
  display: flex;
  justify-content: space-between;
  height: 40px;
}

.Nb-content-text {
  display: none;
}

.Nb-buttons {
  display: flex;
  align-items: center;
}

.call-us {
  display: flex;
  background-color: #00730c;
  color: white;
  border-radius: 10px;
  border: none;
  border: 10px solid #00730c;
  margin-right: 40px;
}
.call-us p {
  display: none;
}

.phone-icon {
  background-image: url("./icons/phone.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
}

.menuM {
  background-image: url("./icons/menu-1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

.PL-Solution {
  background-color: #00730c;
  margin: 0;
  height: 500px;
}

@media (min-width: 1410px) {
  .TopNavbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17.5px 0;
  }
  .TNavbar-content {
    width: 80%;
  }
  .TNavbar-content p {
    color: white;
    font-size: 14px;
  }
  .TNavbar-leftside div {
    align-items: center;
  }
  .TNavbar-leftside p {
    display: block;
    margin-right: 30px;
  }
  .email {
    width: 25px;
    height: 25px;
    display: block;
    margin-right: 10px;
  }
  .phone-call {
    width: 25px;
    height: 25px;
    display: block;
    margin-right: 10px;
  }
  .location {
    width: 25px;
    height: 25px;
    display: block;
    margin-right: 10px;
  }
  .Navbar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Navbar-content {
    width: 80%;
    height: 55px;
    align-items: center;
  }
  .Navbar-LOGO img {
    width: 120px;
    height: 55px;
    display: block;
  }
  .Navbar-content-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
  }
  .Nb-content-text {
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    width: 100%;
    margin-right: 10%;
  }
  .Nb-content-text div {
    display: flex;
    align-items: center;
  }
  .down-arrow-black {
    background-image: url("./icons/arrow-icon-black.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 12px;
    height: 6.84px;
    margin-left: 5px;
  }
  .call-us {
    font-family: Nunito;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00730c;
    color: white;
    border-radius: 5px;
    border: none;
    width: 171px;
    margin: 0;
    padding: 10px 35px;
  }
  .call-us p {
    display: block;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin-left: 10px;
  }
  .phone-icon {
    width: 30px;
    height: 30px;
  }
  .menuM {
    display: none;
    position: absolute;
  }
}/*# sourceMappingURL=style.css.map */